# Requires:
#
#   sudo apt-get install python3
#   sudo apt-get install python3-pip
#
#   sudo pip3 install pandas
#   sudo pip3 install nltk
#   sudo pip3 install gensim
#   sudo pip3 install python-Levenshtein
#   sudo pip3 install tensorflow
#   sudo pip3 install keras
#   sudo pip3 install scikit-learn
#   sudo pip3 install matplotlib

# Executar:
#
#   python3
#       import nltk
#       nltk.download()
#       d
#       all